body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ec9e54;
}

#welcomeMessage {
    font-size: 40px;
    color: #164909;
    /* background-color: #58e26f; */
}
